<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__STATIC__/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__STATIC__/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__STATIC__/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="__STATIC__/assets/css/admin.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/app.css">
    <script src="__STATIC__/assets/js/echarts.min.js"></script>
</head>

<body data-type="generalComponents">
    {include file="public/header"}
    <div class="tpl-page-container tpl-page-header-fixed">

	{include file="public/left"}

<style>
        .am-tabs-nav li {
            position: relative;
            z-index: 1;
        }

        .am-tabs-nav .am-icon-close {
            position: absolute;
            top: 0;
            right: 10px;
            color: #888;
            cursor: pointer;
            z-index: 100;
        }

        .am-tabs-nav .am-icon-close:hover {
            color: #333;
        }

        .am-tabs-nav .am-icon-close ~ a {
            padding-right: 25px!important;
        }
    </style>
    <div class="tpl-content-wrapper">

        <div class="tpl-portlet-components">

            <div class="am-tabs" data-am-tabs="{noSwipe: 1}" id="doc-tab-demo-1">
                <ul class="am-tabs-nav am-nav am-nav-tabs">
                    <li class="am-active"><a href="javascript: void(0)">首页</a></li>
                </ul>

                <div class="am-tabs-bd">
                    <div class="am-tab-panel am-active">
                        首页内容
                    </div>

                </div>
            </div>
            <br />
        </div>

    </div>

</div>





    </div>


<script src="__STATIC__/assets/js/jquery.min.js"></script>
<script src="__STATIC__/assets/js/amazeui.min.js"></script>
<script src="__STATIC__/assets/js/app.js"></script>
<script type="text/javascript">
    $(function() {
        $("#doc-form-file").change(function() {
            var $file = $(this);
            var fileObj = $file[0];
            var windowURL = window.URL || window.webkitURL;
            var dataURL;
            var $img = $("#preview");

            if(fileObj && fileObj.files && fileObj.files[0]){
                dataURL = windowURL.createObjectURL(fileObj.files[0]);
                $img.attr('src',dataURL);
            }else{
                dataURL = $file.val();
                var imgObj = document.getElementById("preview");
// 两个坑:
// 1、在设置filter属性时，元素必须已经存在在DOM树中，动态创建的Node，也需要在设置属性前加入到DOM中，先设置属性在加入，无效；
// 2、src属性需要像下面的方式添加，上面的两种方式添加，无效；
                imgObj.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                imgObj.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = dataURL;

            }
        });
        var tabCounter = 0;
        var $tab = $('#doc-tab-demo-1');
        var $nav = $tab.find('.am-tabs-nav');
        var $bd = $tab.find('.am-tabs-bd');

        function addTab(titletext,urls) {
            $('.am-nav-tabs li').removeClass('am-active');
            $('.am-tabs-bd > div').removeClass('am-active');
            var nav = '<li class="am-active"><span class="am-icon-close"></span>' +
                    '<a href="javascript: void(0)">'+titletext+'</a></li>';
            var content = '<div class="am-tab-panel am-active"><iframe class="J_iframe" name="iframe0" width="100%" height="100%" style="min-height: 500px;" src="'+urls+'" frameborder="0" seamless></iframe></div>';

            $nav.append(nav);
            $bd.append(content);
            tabCounter++;
            $tab.tabs('refresh');
        }
        // 动态添加标签页
        $('.js-append-tab').on('click', function() {
            var titletext = $(this).text();
            var index = $(".am-nav-tabs a:contains('" + titletext + "')").parent().index();
            //alert(index);
            if (index > 0)
            {
                $tab.tabs('open',index);
            }
            else
            {
                var urls=$(this).attr('data_id');
                //$.post(urls,{},function(data,textStatus){
                addTab(titletext,urls);
                //});
            }
        });

        // 移除标签页
        $nav.on('click', '.am-icon-close', function() {
            var $item = $(this).closest('li');
            var index = $nav.children('li').index($item);

            $item.remove();
            $bd.find('.am-tab-panel').eq(index).remove();

            $tab.tabs('open', index > 0 ? index - 1 : index + 1);
            $tab.tabs('refresh');
        });

    });

</script>

</body>

</html>